body {
    background-color: #000;
    color: #fff;
}

.header {
    .logo {
        width: 120px;
        height: 82px;
    }
}

h3 {
    margin: 0 20px 0 0;
    line-height: 50px;
}

.profile_item {
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px solid;
    line-height: 50px;

    p {
        font-size: 1.5em;
    }


    .icon:before {
        content: "";
        padding-right: 10px;
        border-left: 7px solid blue;
    }

    ::last-child {
        height: 150px;
        font-size: 0.75em;
    }

}

.btns {
    width: 90%;
    margin: 20px auto;

    .btn {
        margin-right: 10px;
    }
}
